.comic-strip .unexpanded-img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}
.page-title{
  font-size:40px;
}
.expanded-img{
	background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center';
	backgroundSize: 'contain';
	width:'100%', height:'100%';
	position:'fixed';
	zIndex:'10000';
	top:'0', left:'0';
	cursor: 'zoom-out';
}
.comic-Div{
  border-style:outset;
  border-width:4px;
  padding:5px;
  margin-bottom:5px;
}
.page-Div{
  border-style:outset;
  border-width:10px;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
}
.article img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}
table{
	table-layout: fixed;
	width: 100%;
}
td {
  vertical-align: top;
  overflow: clip;
}

/* Hide substack subscription boxes */
.subscription-widget-wrap-editor{
	display:none;
}

/* Optional styling */
summary::-webkit-details-marker {
  color: blue;
}
summary:focus {
  outline-style: none;
}
summary{
  font-size:20px;
}